{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center flex-column flex-md-row">
      <div class="col-md-7">
        {{ if .Params.social.enable }}
        {{ with .Params.social }}
        <ul class="social-links list-unstyled list-inline mt-4">
          {{ range .social_links }}
          <li class="list-inline-item"><a href="{{.link | safeURL}}">
              <img src="{{.img}}" style="border-radius: 20px;width:12vw;min-width: 78px;max-width: 185px;">
            </a></li>
          {{end}}
        </ul>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-5">
        <br>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}